{% comment %} {% section 'product-template' %} {% endcomment %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
<div class="mt-20 max-w-5xl mx-auto ">
  <div class="flex mx-8 sm:flex-col ">
         <div class="flex-1 upsm:mr-16 swiper-container-product-page swiper-container-{{- product.id -}}">
      <div class="swiper-wrapper">
        {% for image in product.images %}
          <div class="swiper-slide">
            <img class="rounded-full mx-auto" src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt | escape }}" />
            <div class="swiper-button-next swiper-button-next-{{- product.id -}}"></div>
            <div class="swiper-button-prev swiper-button-prev-{{- product.id -}}"></div>
          </div>
        {% endfor %}
      </div>
    </div>
  <div class="flex-1">

      <h1 class="text-2xl my-8 font-extrabold">{{ product.title }}</h1>

<p class="text-md font-medium text-gray-600 my-6">{{ product.description }}</p>
<div class="flex justify-between mx-4">
   <p class="font-bold text-3xl items-center">{{ product.price | money }}</p>
{% render 'add-to-cart-form' %}

</div>

    </div>
      </div>

</div>




<script>
  new Swiper(".swiper-container-{{- product.id -}}",{
    sliderPreview: 1,
    centeredSlides: true,
    spaceBetween: 0,
    loop: true,

    breakpoints: {
      600: {
        pagination: {
clickable: true,
        type: "bullets",
        },

        allowTouchMove: false,
        speed: 0,
        navigation: {
          nextEl:  ".swiper-button-next-{{- product.id -}}",
          prevEl: ".swiper-button-prev-{{- product.id -}}"
        }
      }
    }
  })

</script>
